@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --main: #1775F1;
    --light-blue: #D0E4FF;
    --dark-main: #0C5FCD;
    --red: #FC3B56;
}
body{
    background-image: url('/img/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.form-layout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    border: none;
    border-radius: 10px;
    background-color: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .15);
}
.form{
    position: relative;
    margin-top: 20px;
    margin-left: 24px;
    width: 400px;
}
h2{
    text-align: justify;
    font-size: 22px;
    padding-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
h3{
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: 200;
}
input{
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--light);
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    padding: 12px;
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    outline: none;
}
input:hover,
input:focus {
    background-color: var(--grey);
    transition: all 0.3s ease;
}
input:focus{
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.email{
    margin-top: 30px;
}
.email h3{
    text-transform: uppercase;
    font-size: 14px;
}
.email input{
    margin-top: 10px;
}
.email input:hover{
    background-color: var(--grey);
    transition: all 0.3s ease;
}
.email i{
    position: absolute;
    padding-top: 22px;
    font-size: 24px;
    margin-left: 90%;
    color: var(--dark);
}
p{
    text-decoration: none;
    position: relative;
    font-size: 16px;
    text-align: center;
    color: var(--dark);
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: var(--main);
}

#submit {
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--light);
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    padding: 12px;
    text-transform: uppercase;
    color: var(--light);
    background-color: var(--main);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

#submit:hover {
    background-color: var(--dark-main);
    transition: all 0.3s ease;
}


